{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero is-info is-fullheight">
  <div class="hero-head">
      <nav class="navbar">
          <div class="container">
              <div class="navbar-brand">
                  <span class="navbar-burger burger" data-target="navbarMenu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              
          </div>
      </nav>
      </div>

      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-6 is-offset-3">
                  <h1 class="title">
                      FORFEIT.GG
                  </h1>
                  <h2 class="subtitle">
                  </h2>
                  <div class="box">
                    <form  method=POST action="{% url 'search_summoner' %}">
                      <div class="field is-grouped">
                        <p class="control is-expanded">
                          {% csrf_token %}
                            <input class="input"  type="search"   placeholder="Search Summoner" name="searched">
                        </p>
                        <p class="control">
                          {% csrf_token %}
                            <a class="button is-info" type="submit" >Search</a>
                        </p>
                    </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>

</section>
{% endblock %}