{% extends 'base.html' %}

{% block content %}
    <h1>Welcome {{ user.username }}</h1>
    
    {% for summoner in summoners %}
        <a href="/ranks/{{rank.id}}">
            <h3>{{ rank.solo_duo_rank }}</h3>
            aa
        </a>
        <a href="/matches/{{match.id}}">
            <h3>{{ match.summoner_name }}</h3>
            aa
        </a>
        <a href="/summoners/{{summoner.id}}">
            <h3>{{ summoner.summoner_name }}</h3>
            aa
        </a>
    {% endfor %}

{% endblock %}